
<!DOCTYPE html>
<html>
<head>
    <% include ../layout/header %>
    <link rel="stylesheet" href="/datatable/css/main.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include ../layout/nav %>
    <% include ../layout/sidebar %>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dataset
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dataset</li>
            </ol>
        </section>

        <section class="content">
              
            <div class="row">
                <div class="col-md-12">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">List Dataset</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
<<<<<<< HEAD

                        <% if (dataset.length > 0) {%>
                          <table class="table">
                            <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Dataset Name</th>
                                <th>Used AI</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                              <tbody>
                                <% dataset.forEach(function (ds) { %>
                                  <tr>
                                    <td>1.</td>
                                    <td><%= ds.nama %></td>
                                    <td><%= ds.action %></td>
                                    <td>
                                      <div class="btn-group">
                                          <button type="button" class="btn btn-danger">Delete</button>
                                          <button type="button" class="btn btn-success">Train</button>
                                      </div>
                                    </td>
                                  </tr>
                                <% }) %>
                              </tbody>
                            </table>
                        <% } else { %>
                            <p class="text-center">No Dataset found. Go <a href="/add" >here</a> to add Dataset.</p>
                        <% } %>

                      
                        <table class="table">
=======
                      <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                          <tr>
                            <th>Datset name</th>
                            <th>Used Ai</th>
                            <th>Action</th>
                          </tr>
                          </thead>
>>>>>>> 6dbc14098cfc39236f9db709d47253ad4bf88a40
                          <tbody>
                            <% data.forEach(function(data){%>
                              <tr>
                                <td><%=data.nama %></td>
                                <td><%=data.ai %></td>
                                <td>
                                  <a href="" class="btn btn-info btn-sm ">Train</a>
                                  <a href="/dataset/delete/<%= data.id%>" class="btn btn-danger btn-sm ">Delete</a>
                                </td>
                              </tr>
                            <%})%>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- modal -->
    <div class="modal fade" id="face">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default Modal</h4>
          </div>
          <div class="modal-body">
            <form action="/import-data/upload"  enctype="multipart/form-data" method="post">
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="nama" class="form-control">
              </div>
              <div class="form-group">
                <label for="">image</label>
                <input type="file" class="form-control" name="image">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="counting">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default Modal</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="object">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Default Modal</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <% include ../layout/footer %>

</div>
<% include ../layout/js %>
<script type="text/javascript" src="/datatable/js/main.js"></script>
<script type="text/javascript" src="/datatable/js/bostrap.min.js"></script>
<script>
   $(function () {
    // $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
</script>
</body>
</html>
